<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userRepository" class="ru.javawebinar.topjava.repository.inmemory.InMemoryUserRepository"/>
    <bean id="mealRepository" class="ru.javawebinar.topjava.repository.inmemory.InMemoryMealRepository"/>

    <bean id="userService" class="ru.javawebinar.topjava.service.UserService">
        <constructor-arg ref="userRepository"/>
    </bean>
    <bean id="mealService" class="ru.javawebinar.topjava.service.MealService">
        <constructor-arg ref="mealRepository"/>
    </bean>

    <bean id="adminRestController" class="ru.javawebinar.topjava.web.user.AdminRestController"/>
</beans>